/**CSS Normalisation (https://necolas.github.io/normalize.css/) */

/*!========== Universal/Default Settings ==========*/
html {
    line-height: 1.15;
    /*Correct the line height in all browsers */
    -webkit-text-size-adjust: 100%;
    /*Prevent font-size adjustments after orientation changes (IOS)*/
    }

    *,
    body,
    *::before,
    *::after {
    padding: 0;
    margin: 0;
    border: 0;
    /*Remove the margin, padding and border of all elements (all browsers)*/
    font-size: 10px;
    /*10px = 1em -> pixel size/10 = #em (16px=1.6em)*/
    box-sizing: border-box;
    /*The full area/size of an element`s box is measured by its total height and width, not just the content section. The different box sections adjust to the defined box size */
    }

/*!========== Common Elements ==========*/
main {
display: block;
/*Render main element consistently (IE)*/
}

h1 {
font-size: 2em;
margin: 0 0;
/*Correct font-size and margin for h1 elements within section and article contexts (Chrome, Firefox, Safari) */
}

img {
border-style: none;
/*Remove the border on images inside links (IE10)*/
/* max-inline-size: 100%; */
/*Make image responsive but without allowing it to outgrow its original size*/
display: block;
/*Removes the small gap that appears under images */
}

hr {
box-sizing: content-box;
height: 0;
/*Add the correct box-sizing (Firefox)*/
overflow: visible;
/*Show overflow (Edge, IE)*/
}

pre {
font-family: monospace, monospace;
/*Correct the inheritance and scaling of font size in all browsers*/
font-size: 1em;
/*Correct the odd em font sizing in all browsers.*/
}

a {
background-color: transparent;
/*Remove the gray background on active links (IE10)*/
}

a,
li,
:link,
:visited {
text-decoration: none;
/*Remove default link underline styling*/
}

ul,
ol {
list-style: none;
/*List markers are not commonly needed*/
}

b,
strong {
font-weight: bolder;
/*Add the correct font weight (Chrome, Edge, Safari)*/
}

/**===========================CUSTOM-STYLES==============================*/

:root {
    --roboto: 'Roboto Condensed', sans-serif;
    --open_sans: 'Open Sans', sans-serif;
    --georgia: Georgia, 'Times New Roman', Times, serif;

    --orange: #f57449;
    --orange-hover: #e06942;
    --yellow: #F39643;
    --yellow-hover: #de873b;
    --black: #000;
    --white: #fff;
}

/** NAVBAR */

.navbar {
    background-color: var(--black);
    color: var(--white);
    position: sticky;
    top: 0px;
    z-index: 4;
}

.navbar__cntr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-block-size: 9vh;
    gap: 20px;
}

.navbar__logo {
    background-color: var(--white);
    color: var(--black);
    width: 80px;
    padding: 10px;
    position: absolute;
    left: 30px;
    top: 0px;
}

.navbar__image {
    max-inline-size: 100%;
}

.navbar__bar {
    display: block;
    width: 100%;
    height: 1px;
    margin-block-start: 3px;
    margin-block-end: 7px;
    background-color: var(--black)
}

.navbar__country {
    font-family: var(--roboto);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing:-0.5px;
    font-weight: 500;
    text-align: center;
}

.button {
    border-radius: 3px;
    cursor: pointer;
}

.button__text {
    font-size: 1.6rem;
    font-family: var(--roboto);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
    height: auto;
    padding: 8px;
    color: var(--white);
}

.button--orange {
    background-color:var(--orange)
}

.button--orange:hover, .button--orange:focus {
    background-color: var(--orange-hover);
    transform: translateY(5%);
}

.button--yellow {
    background-color: var(--yellow);
}

.button--yellow:hover, .button--yellow:focus {
    background-color: var(--yellow-hover);
    transform: translateY(5%);
}

.navbarDesktop {
    display: none;
}

/** Nav Menu */

.nav__menu {
    gap: 20px;
    position: fixed;
    right: -100%;
    top: 70px;
    inline-size: 100vw;
    block-size: 100vh;
    transition: 300ms;
    padding-block: 1.5rem;
    z-index: 3;

    background-color:var(--orange);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15px;
}

.nav__menu.active {
    left:900px;
}

.nav__searchbar {
    display: flex;
    justify-content: space-between;
}

.nav__searchbar img {
    max-width: 10%;
}

input[type=search] {
    padding-top: 50px;
    background-color: var(--orange);
    outline: none;
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    color: var(--white);
}

input[type=search]::placeholder {
    color: var(--white);
}
input[type=search]::-moz-placeholder {
    color: var(--white);
}
input[type=search]::-webkit-input-placeholder {
    color: var(--white);
}
/* IE 10 only */
input[type=search]:-ms-input-placeholder {
    color: var(--white);
}
/* Firefox 18 and below */
input[type=search]:-moz-input-placeholder {
    color: var(--white);
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.nav__link {
    color: var(--white);
    font-size: 3.4rem;
    transition: 300ms ease;
    font-weight: 900;
    font-family: var(--roboto);
    letter-spacing: -1px;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding-inline-end: 10px;
}

.hamburger, .bar {
    display: block;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -web-kit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: var(--white)
}

/** HEADER */

.header__image-cntr {
    background-image: url(../img/images/people/team.jpg);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
}

.header__title{
    background-color: var(--orange);
    width: 350px;
    height: 140px;
    margin: 0 auto;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--white);
    font-size: 4.3rem;
    font-family: var(--roboto);
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 140px;
    text-transform: uppercase;
}

.header__dividerLine {
    content: "";
    border: 1px solid hsl(150, 1%, 95%);
    position: absolute;
    bottom: -80px;
    width: 100vw;
}

/** TEAM SECTIONS */

.teamInfo {
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    font-family: var(--open_sans);
    gap: 30px;
    padding-block-end: 30px;
    border-bottom: 2px solid hsl(150, 1%, 95%);
    max-width: 55vw;
    margin-inline: auto;
}

.teamInfo__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: left;
    margin-bottom: 5px;
}

/** TEAM SECTIONS */

.teamSections__teamBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 25px;
}

.teamSections__teamBlock--gray {
    background-color: #edecea;
}

.teamSections__symbol {
    font-size: 4.5rem;
}

.teamSections__header {
    font-size: 3.3rem;
    font-family: var(--roboto);
    font-weight: 600;
    text-align: center;
    letter-spacing: -1px;
}

.teamSections__header + span {
    display: block;
    width: 60px;
    height: 5px;
    margin: 0 auto;
    background-color: var(--orange);
    margin-top: 10px;
}

.teamSections__people {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: minmax(150px, 1fr);
    gap: 30px;
    text-align: center;
    margin-top: 30px;
}

.person {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--orange);
    font-family: var(--open_sans);
    max-width: 100%;
    margin: 0 auto;
}

.person:hover {
    color: var(--black);
    cursor: pointer;
}

.person img {
    max-width: 100%;
    max-height: 80%;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);;
    margin-bottom: 40px;
}

.person img:hover {
    transform: scale(115%);
    transition: 200ms ease-out;
}

/** UPDATES BOX */

.updatesBox {
    background-color: var(--black);
    width: 95vw;
    margin: 0 auto;
    padding-block: 50px;
}

.updatesBox__cntr {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 12%;
    gap: 5vw;
}

.updatesBox__inputfield {
    display: flex;
    flex-direction: row;
}

.updatesBox__header {
    color: var(--white);
    text-align: center;
    margin-block-start: 20px;
    margin-block-end: 20px;
    font-size: 4rem;
    font-family: var(--roboto);
    letter-spacing: -1px;
    text-transform: uppercase;
}

.updatesBox__input {
    block-size: 40px;
    margin-block-end: 5px;
    line-height: 40px;
    border-radius: 2px;
    padding: 5px;
    font-size: 1.6rem;
    font-family: var(--open_sans);
}

input[type=email]::placeholder {
    color: rgb(205, 204, 204);
}
input[type=email]::-moz-placeholder {
    color: rgb(205, 204, 204);
}
input[type=email]::-webkit-input-placeholder {
    color: rgb(205, 204, 204);
}
/* IE 10 only */
input[type=email]:-ms-input-placeholder {
    color: rgb(205, 204, 204);
}
/* Firefox 18 and below */
input[type=email]:-moz-input-placeholder {
    color: rgb(205, 204, 204);
}

.updatesBox__cntr button {
    margin-block-end: 20px;
    block-size: 40px;
}

.updatesBox__text {
    color: var(--white);
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--open_sans);
    margin-block-end: 0;
}

/** FOOTER */

.footer {
    width: 95vw;
    margin: 20px auto 20px;
}

.footer__cntr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 30px;
}

.footer__logo {
    width: 60px;
}

.footer__icon-cntr {
    min-height: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    max-width: 50%;
}
.footer__icon {
    max-width: 15%;
    cursor: pointer;
}

.footer__icon--fb {
    max-width: 10%;
}

.footer__text, .footer__text a {
    font-size: 1.2rem;
    text-align: left;
    font-family: var(--open_sans);
}

.footer__text a {
    font-weight: 800;
    font-size: 1.4rem;
}

/** FOOTER TABLET + DESKTOP */

.footer__moreInfo-cntr {
    display: flex;
    gap: 10%;
    padding-block: 40px;
    border-block: 2px solid lightgrey;
}

.footer__moreInfo-left {
    flex-basis: 70%;
}

.footer__moreInfo-links {
    display: flex;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.footer__moreInfo-links p {
    font-size: 1.8rem;
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    cursor: pointer;
}

#footer__moreInfo-middle, #footer__moreInfo-last {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-family: var(--open_sans);
}

.footer__moreInfo-right {
    flex-basis: 50%;
}

.footer__moreInfo-right :nth-child(1) {
    font-size: 1.8rem;
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer__moreInfo-right :nth-child(2) {
    font-size: 3rem;
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer__moreInfo-right :nth-child(3) {
    font-size: 1.2rem;
    font-family: var(--open_sans);
}